html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: #13172d;
    font-size: 1.4rem;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    transition: .6s ease all;
    overflow-x: hidden;
}

.wrapper-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 23px 9px rgba(0, 0, 0, 0.2);
    z-index: 999999999999;
    background-color: #1a1f3d;
    padding: 1.1rem;
}

.header__left {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.nav__items {
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -ms-flex-align: center;
    align-items: center;
}

.item {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 10px;
}

.item a {
    color: #fff;
    transition: all 0.3s ease;
}

.item a:hover {
    text-decoration: none;
    color: #007bff;
}

.header__logo {
    z-index: 99999999;
    color: #fff;
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 500;
}

.header__logo:hover .header__logo_left {
    width: 41rem;
    box-shadow: 0px 0px 14px 7px rgba(0, 123, 255, 0.26);
}

.header__logo_left {
    position: absolute;
    top: -1.4rem;
    left: -30rem;
    z-index: -1;
    width: 35rem;
    height: 5.8rem;
    background-color: #0a50dc;
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
    transition: all 0.3s ease;
}

.header__logo_left:hover {
    width: 41rem;
}

.movieNav {
    position: relative;
}

.movieNav {
    transition: .3s ease all;
}

.movieNav:hover {
    color: #007bff;
}

.movieNav:hover .nav__items-sub {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}

.nav__items-sub {
    opacity: 0;
    visibility: hidden;
    z-index: -1000;
    transition: .3s ease all;
    top: 0;
    left: 0;
    -webkit-transform: translateY(7%);
    transform: translateY(7%);
    position: absolute;
    border-radius: 1.1rem;
    padding: 0 1rem;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    color: #000;
    width: 40rem;
}

.nav__items-right {
    list-style: circle;
    padding-top: 1rem;
    width: 25rem;
    box-shadow: 15px -2px 20px -2px rgba(0, 0, 0, 0.11);
}

.nav__items-right li {
    transition: .3s ease all;
    cursor: pointer;
}

.nav__items-right li:hover {
    color: #007bff;
}

.recom {
    position: relative;
}

.recom:hover .recomendPod {
    opacity: 1;
    z-index: 1000;
    visibility: visible;
}

.recomendPod {
    opacity: 0;
    visibility: hidden;
    z-index: -1000;
    transition: .3s ease all;
    top: 0;
    right: 0;
    -webkit-transform: translate(20%, 110%);
    transform: translate(20%, 110%);
    position: absolute;
}

.recomendPod li {
    background-color: #fff;
    color: #000;
    list-style: none;
    padding: 1rem;
    font-size: 1.2rem;
    width: 26rem;
    border-radius: 1.1rem;
    box-shadow: 0px 0px 33px 11px rgba(0, 0, 0, 0.21);
}

.nav__items-left {
    list-style: circle;
    padding: 1rem 2rem 1rem 3rem;
}

.nav__items-left li {
    cursor: pointer;
    transition: .3s ease all;
}

.nav__items-left li:hover {
    color: #007bff;
}

.search {
    margin-right: 2rem;
    cursor: pointer;
}

.search svg {
    transition: .3s ease all;
    fill: #a7a7a7;
}

.search svg:hover {
    fill: #007bff;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background-color: #0a1226;
}

body::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: rgba(56, 56, 56, 0.56);
}

.container {
    max-width: 140rem;
}

.movies {
    margin-top: 8rem;
}

.movies__recomend-title {
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 700;
    font-style: normal;
    max-height: 2.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movies__recomend-small {
    font-size: 1.7rem;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    max-height: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #a5a1b2;
    margin-top: 1rem;
}

.movies__recomend {
    position: relative;
}

.movies__filters {
    margin-top: 5rem;
    position: relative;
}

.swiper-container {
    position: static;
    margin-top: 2rem;
    height: 350px;
}

.swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-4rem, -50%);
    transform: translate(-4rem, -50%);
    color: rgba(255, 255, 255, 0.87);
}

.swiper-button-next {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(4rem, -50%);
    transform: translate(4rem, -50%);
    color: rgba(255, 255, 255, 0.87);
}

.preview {
    position: relative;
    box-shadow: 0px 0px 26px 7px rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
    overflow: hidden;
    transition: .3s ease all;
}

.small {
    width: 15rem;
    height: 10rem;
}

.overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 20rem;
    height: 30rem;
    border-radius: 1.1rem;
    z-index: 1;
    transition: .3s ease all;
    overflow: hidden;
}

.overlay:hover .desc {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.overlay:hover .chose {
    box-shadow: 0px 0px 18px 13px rgba(0, 123, 255, 0.26);
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.desc {
    padding: 1.2rem;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 20rem;
    height: 30rem;
    border-radius: 1.1rem;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all .3s ease;
}

.d-show {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 20rem;
    height: 30rem;
}

.slide {
    position: relative;
}

.slider__title {
    color: #ffffff;
    font-size: 1.7rem;
    line-height: 30px;
    font-weight: 500;
    font-style: normal;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.description__Pwa-nz-title {
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 700;
    font-style: normal;
}

.description__Pwa-nz-small {
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 400;
    max-width: 80%;
    color: #a5a1b2;
    font-style: normal;
}

.see__trailer {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 400;
    height: 16px;
    color: #007bff;
}

.description__Pwa-nz {
    margin-top: 3rem;
}

.swiper-slide {
    width: 20rem;
}

.raiting {
    z-index: -1;
    width: 4rem;
    font-size: 3rem;
    font-weight: 600;
    border-bottom: green solid 2px;
}

.year {
    color: rgba(255, 255, 255, 0.79);
    font-size: 2rem;
}

.countries {
    color: rgba(255, 255, 255, 0.79);
    font-size: 1.5rem;
}

.filters {
    color: rgba(255, 255, 255, 0.79);
    font-size: 1.4rem;
}

.length {
    color: rgba(255, 255, 255, 0.79);
    font-size: 1.4rem;
}

.chose {
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #007bff;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: .3rem;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
}

.see-more {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 20rem;
    height: 30rem;
    border-radius: 1.1rem;
    z-index: 1;
    transition: .3s ease all;
    overflow: hidden;
    background-color: #1a1f3d;
    color: #a5a1b2;
    font-size: 1.5rem;
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 0px 23px 9px rgba(0, 0, 0, 0.2);
}

.see-more:hover {
    color: #fff;
    background-color: #20264b;
}

.see-moreFulters {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 4rem;
    background-color: #1a1f3d;
    color: #a5a1b2;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 500;
    transition: .3s ease all;
    overflow: hidden;
    width: 100%;
    height: 30rem;
    border-radius: 1.1rem;
    box-shadow: 0px 0px 23px 9px rgba(0, 0, 0, 0.2);
}

.see-moreFulters:hover {
    color: #fff;
    background-color: #20264b;
}

.see-morePopular {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 4rem;
    background-color: #1a1f3d;
    color: #a5a1b2;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 500;
    transition: .3s ease all;
    overflow: hidden;
    width: 100%;
    height: 30rem;
    border-radius: 1.1rem;
    box-shadow: 0px 0px 23px 9px rgba(0, 0, 0, 0.2);
}

.see-morePopular:hover {
    color: #fff;
    background-color: #20264b;
}

.ErrorId {
    margin: 8rem 4rem 4rem 4rem;
    font-size: 4rem;
    color: #a83939;
    font-weight: 700;
}

.shortSlider {
    margin-bottom: 7rem;
}

.smallMargin {
    margin: 4rem;
}

.small {
    width: 18rem;
    height: 28rem;
}

.preloaderI {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #13172d;
    z-index: 99999999999;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    -webkit-animation: preloader-rotate 2s infinite linear;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    color: #007bff;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    -webkit-animation: preloader-rotate 2s infinite linear;
    animation: preloader-rotate 2s infinite linear;
}

@-webkit-keyframes preloader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes preloader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.preloaderI.loaded_hiding {
    transition: 0.3s opacity;
    opacity: 0;
}

.preloaderI.loaded {
    display: none;
}

.description__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    background-color: #13172d;
    height: 100vh;
    z-index: 22;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: .8s ease all;
    box-shadow: 0px 0px 35px 12px rgba(0, 0, 0, 0.2);
}

.description__overlay {
    position: fixed;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    transition: .8s ease all;
    background-color: rgba(0, 0, 0, 0.49);
    z-index: 22;
}

.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.wrapper-info {
    position: relative;
    width: 90%;
    height: 100vh;
    margin-top: 6rem;
    padding: 6rem;
    overflow: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: .3s ease all;
}

.description__wrapper-facts {
    margin-bottom: 8rem;
}

.wrapper-info::-webkit-scrollbar {
    width: 1rem;
}

.wrapper-info::-webkit-scrollbar-track {
    background-color: #0a1226;
}

.wrapper-info::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: rgba(56, 56, 56, 0.56);
}

.description__wrapper-genres {
    margin-top: 1rem;
}

.description__wrapper-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    line-height: 44px;
    font-weight: 600;
    font-style: normal;
}

.description__wrapper-age {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0rem, 3rem);
    transform: translate(0rem, 3rem);
    background-color: #007bff;
    box-shadow: 0px 0px 32px 6px rgba(0, 123, 255, 0.2);
    color: #FFF;
    font-size: 1.8rem;
    padding: 1.2rem 1.6rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    font-weight: 600;
}

.description__wrapper-type {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(8rem, 3rem);
    transform: translate(8rem, 3rem);
    background-color: #007bff;
    box-shadow: 0px 0px 32px 6px rgba(0, 123, 255, 0.2);
    color: #FFF;
    font-size: 1.8rem;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    font-weight: 600;
}

.description__wrapper-poster {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.description__wrapper-country {
    margin-top: 1rem;
}

.description__wrapper-filmslogan {
    margin-top: 1rem;
}

.description__wrapper-desFilm {
    margin-top: 1rem;
}

.description__wrapper-titleEn {
    font-size: 1.7rem;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
}

span {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
}

.blue {
    margin-top: 1rem;
    color: #007bff;
    font-weight: 600;
}

.description__wrapper-poster {
    position: relative;
}

.description__wrapper-trailer {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.noFind {
    box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    font-weight: 700;
    background-color: #1d1f3b;
    border-radius: 1.1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 56rem;
    height: 305px;
}

.search__title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.82);
    z-index: 19;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    transition: .4s ease all;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.search__title-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, -125%);
    transform: translate(0, -125%);
    z-index: 21;
    margin: 0 auto;
    margin-top: 9rem;
    height: 100vh;
    width: 85rem;
    transition: .4s all ease;
}

.close {
    position: fixed;
    top: 0;
    font-weight: 500;
    right: 0;
    font-size: 5rem;
    -webkit-transform: translateX(6rem);
    transform: translateX(6rem);
    color: #b8b8b8;
    transition: .3s ease all;
    text-shadow: none;
}

.close:hover {
    color: #007bff;
}

.search__title-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.premiers {
    margin-top: 2rem;
}

.premiers__item {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: .8rem;
    -webkit-transform: translateX(-3rem);
    transform: translateX(-3rem);
}

.premiers__item a {
    transition: .3s ease all;
    color: #fff;
}

.premiers__item a:hover {
    color: #007bff;
}

.wrap-sear {
    position: relative;
}

.results {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4rem;
    overflow: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.resa {
    height: 75vh;
}

.results::-webkit-scrollbar {
    width: 1rem;
}

.results::-webkit-scrollbar-track {
    background-color: #0a1226;
}

.results::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: rgba(56, 56, 56, 0.56);
}

.search__title-input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1.1rem;
    height: 4rem;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 1.7rem;
    font-weight: 700;
    color: #2f2f2f;
    box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.31);
}

.activeSearch {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.results__fulter {
    position: relative;
    transition: .3s ease all;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #13172d;
    box-shadow: 0px 0px 41px 16px rgba(0, 0, 0, 0.21);
    z-index: 18;
}

.activeFulter {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.results__fulter-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.results__fulter-wrapper {
    margin-top: 6rem;
    padding: 1rem;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-transform: translate(66rem, 7.5rem);
    transform: translate(66rem, 7.5rem);
    height: 4rem;
    width: 4rem;
}

.back:hover .backArrow {
    cursor: pointer;
    fill: #007bff;
}

path {
    z-index: 0;
}

.backArrow {
    transition: .3s ease all;
    fill: #a5a1b2;
}

.results__fulter-movies {
    transition: .3s ease all;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    height: 87vh;
    overflow: auto;
}

.results__fulter-movies::-webkit-scrollbar {
    width: 1rem;
}

.results__fulter-movies::-webkit-scrollbar-track {
    background-color: #0a1226;
}

.results__fulter-movies::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: rgba(56, 56, 56, 0.56);
}

@media screen and (max-width: 1880px) {
    .resa {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .description__wrapper-trailer {
        position: static;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        padding-top: 1rem;
    }

    .back {
        -webkit-transform: translate(30rem, 7.5rem);
        transform: translate(30rem, 7.5rem);
    }

    .swiper-button-next {
        -webkit-transform: translate(0rem, -50%);
        transform: translate(0rem, -50%);
    }

    .swiper-button-prev {
        -webkit-transform: translate(0rem, -50%);
        transform: translate(0rem, -50%);
    }
}

@media screen and (max-width: 1150px) {
    .smallMargin {
        margin: 2rem 2rem 6rem 2rem;
    }
}

@media screen and (max-width: 1050px) {
    .close {
        -webkit-transform: translateX(3rem);
        transform: translateX(3rem);
    }

    .back {
        -webkit-transform: translate(10rem, 7.5rem);
        transform: translate(10rem, 7.5rem);
    }
}

@media screen and (max-width: 1010px) {
    .noFind {
        width: 40rem;
        height: 25rem;
    }

    .youtube {
        width: 40rem;
        height: 25rem;
    }
}

@media screen and (max-width: 900px) {
    #searchForm {
        width: 70rem;
        margin: 0 auto;
    }

    .close {
        -webkit-transform: translateX(-5rem);
        transform: translateX(-5rem);
    }

    .wrapper-info {
        padding: 7rem 3rem 3rem 3rem;
    }
}

@media screen and (max-width: 870px) {
    .overlay {
        width: 17rem;
        height: 25rem;
    }

    .preview {
        width: 17rem;
        height: 25rem;
    }

    .see-more {
        width: 17rem;
        height: 25rem;
    }

    .see-morePopular {
        width: 17rem;
        height: 25rem;
        margin: 0;
    }

    .see-moreFulters {
        width: 17rem;
        height: 25rem;
        margin: 0;
    }

    .search__title-title {
        margin-left: 4rem;
    }

    .description__Pwa-nz {
        margin: 0;
    }

    .movies__filters {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 800px) {
    .close {
        -webkit-transform: translateX(-10rem);
        transform: translateX(-10rem);
    }

    #searchForm {
        width: 60rem;
    }

    .description__wrapper-title {
        font-size: 2.6rem;
        line-height: 3rem;
    }

    .description__Pwa-nz-small {
        max-width: 100%;
    }

    .smallMargin {
        margin: 1rem 1rem 5rem 1rem;
    }

    .youtube {
        width: 35rem;
        height: 20rem;
    }

    .noFind {
        width: 35rem;
        height: 20rem;
    }
}

@media screen and (max-width: 740px) {
    .close {
        -webkit-transform: translateX(-15rem);
        transform: translateX(-15rem);
    }

    #searchForm {
        width: 60rem;
    }

    .description__Pwa-nz-title {
        font-size: 2rem;
    }

    .swiper-container {
        height: auto;
        margin-bottom: 3rem;
    }

    .description__Pwa-nz-small {
        font-size: 1.3rem;
    }

    .smallMargin {
        margin: 1rem 1rem 5rem 1rem;
    }

    .overlay {
        width: 15rem;
        height: 22rem;
    }

    .preview {
        width: 15rem;
        height: 22rem;
    }

    .see-more {
        width: 15rem;
        height: 22rem;
    }

    .see-morePopular {
        width: 15rem;
        height: 22rem;
        margin: 0;
    }

    .see-moreFulters {
        width: 15rem;
        height: 22rem;
        margin: 0;
    }

    .movies__recomend-title {
        font-size: 2.4rem;
    }

    .movies__recomend-small {
        font-size: 1.5rem;
    }

    .raiting {
        font-size: 2rem;
    }

    .year {
        font-size: 1.5rem;
    }

    .filters {
        font-size: 1.2rem;
    }

    #searchForm {
        -webkit-transform: translateX(-5rem);
        transform: translateX(-5rem);
    }

    .results {
        width: 70rem;
        padding-top: 4rem;
    }

    span {
        font-size: 1.3rem;
    }

    .smallMargin {
        margin: 0 0 4rem 0;
    }
}

@media screen and (max-width: 700px) {
    .close {
        -webkit-transform: translateX(-24rem);
        transform: translateX(-24rem);
    }

    #searchForm {
        width: 52rem;
        -webkit-transform: translateX(-9rem);
        transform: translateX(-9rem);
    }

    .results__fulter-title {
        font-size: 2rem;
        padding: 1rem;
    }

    .wrapper-info {
        padding: 7rem 1.5rem 1.5rem 1.5rem;
    }
}

@media screen and (max-width: 651px) {
    .overlay {
        width: 13rem;
        height: 19rem;
    }

    .preview {
        width: 13rem;
        height: 19rem;
    }

    .see-more {
        width: 13rem;
        height: 19rem;
    }

    .chose {
        font-size: 1rem;
    }

    .description__Pwa-nz-small {
        font-size: 1.2rem;
    }

    .smallMargin {
        margin: 0;
    }

    .nav__items-sub {
        -webkit-transform: translate(-20rem, 5rem);
        transform: translate(-20rem, 5rem);
    }

    .see-moreFulters {
        width: 13rem;
        height: 19rem;
        margin: 0;
    }

    .see-morePopular {
        width: 13rem;
        height: 19rem;
        margin: 0;
    }

    .movies__recomend-title {
        font-size: 2.4rem;
    }

    .swiper-container {
        margin-bottom: 2rem;
    }

    .slide {
        width: 16rem;
        height: 26rem;
    }

    .results {
        width: 60rem;
    }

    .wrapper-info::-webkit-scrollbar {
        width: .6rem;
    }

    .results__fulter-movies::-webkit-scrollbar {
        width: .6rem;
    }

    .results::-webkit-scrollbar {
        width: .6rem;
    }

    .header__logo {
        font-size: 2rem;
    }

    .search__title-title {
        font-size: 2.5rem;
    }

    .search__title-input {
        font-size: 1.5rem;
    }

    .description__wrapper-age {
        font-size: 1.5rem;
    }

    .description__wrapper-type {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 605px) {
    .close {
        -webkit-transform: translateX(-30rem);
        transform: translateX(-30rem);
    }

    #searchForm {
        width: 47rem;
        -webkit-transform: translateX(-11rem);
        transform: translateX(-11rem);
    }

    .youtube {
        width: 30rem;
        height: 15rem;
    }

    .noFind {
        width: 30rem;
        height: 15rem;
    }

    .svg {
        height: 2.5rem;
        width: 2.5rem;
    }

    .backArrow {
        width: 3rem;
        height: 3rem;
        margin-top: .6rem;
    }

    .item {
        font-size: 1.3rem;
    }

    .header {
        padding: 1rem;
    }

    .header__logo_left {
        height: 5.4rem;
    }
}

@media screen and (max-width: 575px) {
    .overlay {
        width: 10rem;
        height: 16rem;
    }

    .preview {
        width: 10rem;
        height: 16rem;
    }

    .see-more {
        width: 10rem;
        height: 16rem;
    }

    .slide {
        width: 10rem;
        height: 22rem;
    }

    .desc {
        padding-bottom: 5rem;
        width: 10rem;
        height: 22rem;
    }

    .length {
        font-size: 1.2rem;
    }

    .d-show {
        width: 10rem;
        height: 22rem;
    }

    .countries {
        font-size: 1.3rem;
    }

    .slider__title {
        font-size: 1.4rem;
    }

    .see__trailer {
        font-size: 1.1rem;
    }

    .slider__title {
        width: 100%;
    }

    .see-morePopular {
        width: 10rem;
        height: 22rem;
    }

    .movies__recomend-title {
        font-size: 2rem;
    }

    .description__Pwa-nz-title {
        font-size: 1.7rem;
    }

    .results__fulter-movies {
        max-width: 50rem;
    }

    .small {
        margin: 1rem;
    }

    .search__title-input {
        width: 43rem;
        -webkit-transform: translateX(-2rem);
        transform: translateX(-2rem);
    }

    .close {
        -webkit-transform: translateX(-35rem);
        transform: translateX(-35rem);
    }

    .results {
        width: 47rem;
    }
}

@media screen and (max-width: 510px) {
    .close {
        -webkit-transform: translateX(-39rem);
        transform: translateX(-39rem);
    }

    .search__title-input {
        width: 40rem;
    }

    .noFind {
        width: 26rem;
        height: 13rem;
        font-size: 1.7rem;
    }

    .youtube {
        width: 26rem;
        height: 13rem;
    }

    .swiper-button-prev {
        height: 2rem;
        width: 2rem;
    }

    .swiper-button-prev::after {
        font-size: 2.4rem;
    }

    .description__Pwa-nz-title {
        font-size: 1.5rem;
    }

    .wrapper-info {
        width: auto;
    }

    .description__wrapper {
        width: 75%;
    }

    .wrapper-info {
        padding-bottom: 5rem;
    }

    .nav__items {
        -webkit-transform: translateX(-4rem);
        transform: translateX(-4rem);
    }

    .recomendPod li {
        padding: .5rem;
        -webkit-transform: translate(6rem, 1rem);
        transform: translate(6rem, 1rem);
    }

    .nav__items-sub {
        -webkit-transform: translate(-8rem, 2rem);
        transform: translate(-8rem, 2rem);
    }

    .recomendPod li {
        width: 20rem;
    }

    .close {
        -webkit-transform: translate(-44rem, -1rem);
        transform: translate(-44rem, -1rem);
    }

    .search__title-input {
        width: 35rem;
    }

    .nav__items-sub {
        width: 30rem;
    }

    .back {
        -webkit-transform: translate(5rem, 7.5rem);
        transform: translate(5rem, 7.5rem);
    }

    .swiper-button-next {
        height: 2rem;
        width: 2rem;
    }

    .swiper-button-next::after {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 440px) {
    .header__logo {
        -webkit-transform: translateX(-2rem);
        transform: translateX(-2rem);
        font-size: 1.7rem;
    }

    .close {
        font-size: 3.5rem;
        -webkit-transform: translate(-47rem, 0);
        transform: translate(-47rem, 0);
    }

    .search__title-input {
        height: 3rem;
        width: 33rem;
    }

    .results {
        width: 44rem;
    }
}

@media screen and (max-width: 435px) {
    .header {
        padding: .6rem;
    }

    .header__logo_left {
        height: 4.9rem;
    }

    .svg {
        height: 2.3rem;
        width: 2.3rem;
    }

    .prevRecomend::after {
        -webkit-transform: translateY(-7rem);
        transform: translateY(-7rem);
    }

    .nextRecomend::after {
        -webkit-transform: translateY(-7rem);
        transform: translateY(-7rem);
    }

    .header__logo {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.5rem;
    }

    .nav {
        -webkit-transform: translateX(6rem);
        transform: translateX(6rem);
    }
}

@media screen and (max-width: 400px) {
    .close {
        -webkit-transform: translate(-50rem, 0);
        transform: translate(-50rem, 0);
    }

    #searchForm {
        width: 30rem;
        -webkit-transform: translateX(-23rem);
        transform: translateX(-23rem);
    }

    .results {
        -ms-flex-pack: left;
        justify-content: left;
        width: 38rem;
    }

    .search__title-title {
        width: 3rem;
        -webkit-transform: translateX(-5rem);
        transform: translateX(-5rem);
    }

    .back {
        -webkit-transform: translate(4rem, 7.5rem);
        transform: translate(4rem, 7.5rem);
    }

    .results__fulter-movies {
        -ms-flex-pack: left;
        justify-content: left;
        width: 37rem;
    }

    .nav {
        width: 22rem;
    }
}

@media screen and (max-width: 414px) {
    .wrap-sear {
        -webkit-transform: translateX(1.5rem);
        transform: translateX(1.5rem);
    }

    .see-morePopular {
        width: 11rem;
        height: 17rem;
        margin: 1rem;
        text-align: center;
    }

    .see-moreFulters {
        width: 11rem;
        height: 17rem;
        margin: 1rem;
        text-align: center;
    }

    .SearchSemore {
        width: 11rem;
        height: 17rem;
        margin: 1rem;
        text-align: center;
    }

    .overlay {
        width: 11rem;
        height: 17rem;
    }

    .preview {
        width: 11rem;
        height: 17rem;
    }

    .close {
        -webkit-transform: translate(-50rem, 0);
        transform: translate(-50rem, 0);
    }

    #searchForm {
        width: 30rem;
        -webkit-transform: translateX(-23rem);
        transform: translateX(-23rem);
    }

    .results {
        -ms-flex-pack: left;
        justify-content: left;
        width: 38rem;
        overflow-x: hidden;
        margin-right: 0;
        padding-bottom: 5rem;
    }

    .search__title-title {
        width: 3rem;
        -webkit-transform: translateX(-5rem);
        transform: translateX(-5rem);
    }

    .back {
        -webkit-transform: translate(4rem, 7.5rem);
        transform: translate(4rem, 7.5rem);
    }

    .results__fulter-movies {
        -ms-flex-pack: left;
        justify-content: left;
        width: 37rem;
    }

    .nav {
        width: 22rem;
    }

    .description__wrapper-age {
        font-size: 1.3rem;
    }

    .description__wrapper-type {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 375px) {
    .wrap-sear {
        -webkit-transform: translateX(0rem);
        transform: translateX(0rem);
    }

    .results {
        -webkit-transform: translateX(-1rem);
        transform: translateX(-1rem);
        padding-bottom: 5rem;
    }

    .slide {
        width: 12rem;
        margin: 0 0 2rem 0;
    }

    .body {
        padding-right: 0;
    }

    .results {
        -webkit-transform: translateX(0.4rem);
        transform: translateX(0.4rem);
    }

    .recomendPod li {
        -webkit-transform: translate(5rem, 1rem);
        transform: translate(5rem, 1rem);
        width: 16rem;
    }

    .results__fulter-movies {
        -webkit-transform: translateX(-2rem);
        transform: translateX(-2rem);
    }

    .back {
        -webkit-transform: translate(2rem, 7.5rem);
        transform: translate(2rem, 7.5rem);
    }

    .search {
        margin: 0;
    }

    .description__wrapper-age {
        font-size: 1.2rem;
    }

    .description__wrapper-type {
        font-size: 1.2rem;
    }

    .nav__items-sub {
        -webkit-transform: translate(-12rem, 2rem);
        transform: translate(-12rem, 2rem);
    }

    .recomendPod {
        padding: 0;
        width: 17rem;
        -webkit-transform: translate(-5rem, 3rem);
        transform: translate(-5rem, 3rem);
    }

    .recomendPod {
        -webkit-transform: translate(2rem, 2rem);
        transform: translate(2rem, 2rem);
    }

    .description__wrapper-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 350px) {
    .nav {
        -webkit-transform: translateX(4rem);
        transform: translateX(4rem);
    }

    .item {
        font-size: 1.2rem;
    }

    .nav__items-sub {
        -webkit-transform: translate(-11rem, 3rem);
        transform: translate(-11rem, 3rem);
    }

    .results {
        width: 31rem;
    }
}
